<h1>About EDICT2 Parser</h1>
<p>Although JMDict is available and (theoretically) easier to parse, I thought it would be nice to work with the relatively simpler file structure of EDICT2 as a project and set up a correspondingly simpler database structure. There is actually a nice project that has set up JMDict in postgres with web-based search: </p>
<ul>
	<li><a href="http://edrdg.org/~smg/">JMDictDB Project Page</a></li>
	<li><a href="http://www.edrdg.org/jmdictdb/cgi-bin/srchformq.py?svc=jmdict&sid=">JMDictDB Search</a></li>
</ul>
<p>This site uses EDICT2 (UTF8) last updated on 9/25/2012. I will periodically update the file and improve the parser as time permits.</p>
<p>The code for this is also available freely (MIT License), though the information sources employed will require attribution.</p>
<h3>Github:</h3>
<a href="https://github.com/unobliged/EDICT2_Parser" target="_blank">https://github.com/unobliged/EDICT2_Parser</a>
