
<div class="hero-unit">
  <h1>EDICT2 Parser</h1>
  <h2>This is a simple parser and database for the EDICT2 Japanese Dictionary</h2>
  <h3>Many thanks to Jim Breen and the EDRDG for making EDICT2 available!</h3>
  <div class="ul-container">
    <ul>
      <li><a href="http://www.edrdg.org/">EDRDG Site</li>
      <li><a href="ftp://ftp.edrdg.org/pub/Nihongo/edict2u.gz">EDICT2 File (UTF8)</li>
      <li><a href="http://www.csse.monash.edu.au/~jwb/edict_doc.html">EDICT Documentation</li>
    </ul>  
</div>
